.form-switch-default{
	transform: scale(0.8);
}

@input-padding: 10rpx;
.form-input-default{
	width: calc(100% - @input-padding * 2);
	height: 100%;
	font-size: 30rpx;
	color: #000000;
	padding: 0 @input-padding;
}
.form-input-placeholder{
	font-size: 28rpx;
	color: #888888;
}

.form-item-two{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-other-title{
	font-size: 28rpx;
	color: #000000;
	padding-left: 10rpx;
}
.form-radio-default{
	padding-right: 10rpx;
	.form-radio-default-label{
		margin-left: 46rpx;
		color: #4A4A4A;
		font-size: 28rpx;
	}
}