.form-switch-default{
	transform: scale(0.8);
}

@input-padding: 10rpx;
.form-input-default{
	width: calc(100% - @input-padding * 2);
	height: 100%;
	font-size: 30rpx;
	color: #000000;
	padding: 0 @input-padding;
}
.form-input-placeholder{
	font-size: 28rpx;
	color: #888888;
}

.form-textarea-default{
	
}